window {
    margin: 0px;
    border: 1px solid #39FF14;
    background-color: black;
}

#input {
    margin: 10px;
    border: none;
    background-color: black;
    border: 1px solid #39FF14;
    color: #ECEFF4;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    padding: 8px 12px;
}

#inner-box {
    background-color: transparent;
}

#outer-box {
    margin: 10px;
    background-color: transparent;
}

#scroll {
    background-color: transparent;
}

#entry {
    padding: 8px;
    margin: 4px;
    border-radius: 0px;
    color: #ECEFF4;
}

#entry:selected {
    background-color: black;
    border: 1px solid #04D9FF;
    color: white;
}

